apt:
    tmux
    tmuxp
    python3-pip
    openssh-server
    sshpass
    ssh-askpass
    git
    docker-compose-plugin
    rsync
    date
    nvidia-container-toolkit
    docker-ce 
    docker-ce-cli 
    containerd.io
pip:
    pyyaml
    